@import "../variables";
@import "../rem";

.portfolios {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-content: space-between;
  flex-wrap: wrap;
}

.portfolio {
  display: block;
  @media (min-width: 768px) {
    width: calc(50% - 5px);
  }
  overflow: hidden;
  margin-bottom: 10px;
  backface-visibility: hidden;
  position: relative;

  img {
    width: auto;
    max-width: 100%;
    height: auto;
  }
}

.portfolio_content {
  position: absolute;
  top: 0;
  width: 100%;
  height: 0%;
  overflow: hidden;
  transition: height 0.4s ease-out, background-color 0.4s ease-in-out 0.1s;
  .portfolio:nth-child(3n) & {
    background-color: #ef0976;
  }
  .portfolio:nth-child(3n - 1) & {
    background-color: #fe9411;
  }
  .portfolio:nth-child(3n - 2) & {
    background-color: #4548b2;
  }

  .portfolio:hover & {
    height: 100%;
  }

  & > div {
    padding: 8%;
    color: #fff;
  }
  h3 {
    font-size: rem(16px);
    margin-top: rem(0px);
    margin-bottom: rem(5px);
    text-transform: uppercase;

    @media (min-width: 380px) and (max-width: 559px) {
      font-size: rem(18px);
      margin-top: rem(10px);
      margin-bottom: rem(10px);
    }

    @media (min-width: 768px) and (max-width: 991px) {
      font-size: rem(18px);
      margin-top: rem(10px);
      margin-bottom: rem(10px);
    }

    @media (min-width: 992px) {
      font-size: rem(20px);
    }
  }
  h4 {
    font-weight: 800;
    margin-top: rem(5px);
    margin-bottom: rem(10px);
    font-size: rem(16px);

    @media (min-width: 380px) and (max-width: 559px) {
      margin-top: rem(10px);
      font-size: rem(18px);
    }

    @media (min-width: 768px) and (max-width: 991px) {
      margin-top: rem(10px);
      font-size: rem(18px);
    }
    @media (min-width: 992px) {
      font-size: rem(25px);
      margin-bottom: rem(10px);
    }
  }
  h5 {
    margin-top: rem(10px);
  }
}
