@import "../variables";
@import "../rem";

.header {
  @media (max-width: 679px) {
    display: flex;
    flex-wrap: wrap;
  }
  width: 100%;
  position: relative;
  margin-top: rem(102px);
  @media (min-width: 680px) {
    display: inline-block;
    min-height: rem(400px);
  }
  @media (min-width: 768px) {
    min-height: rem(450px);
  }
  @media (min-width: 992px) {
    min-height: rem(573px);
  }
}

.service_hero {
  @media (max-width: 679px) {
    margin: 0 auto;
    flex: 0 0 calc(100% / 1.5);
    order: 2;
    margin-top: rem(50px);
  }
  @media (min-width: 680px) {
    float: right;
    width: calc(100% / 2.5);
    height: 100%;
    position: absolute;
    right: 5%;
    top: 0;
    bottom: 0;
  }
  svg {
    width: 100%;
    max-height: 100%;
  }
}

.service_hero_inner {
  display: flex;
  align-items: center;
  height: 100%;
}

.hero_container {
  @media (max-width: 679px) {
    flex: 0 0 100%;
  }
  @media (min-width: 680px) {
    display: flex;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}

.hero {
  padding: rem(10px 15px);
  @media (max-width: 679px) {
    text-align: center;
    width: 100%;
  }
  @media (min-width: 680px) {
    max-width: rem(350px);
  }
  @media (min-width: 970px) {
    max-width: rem(500px);
  }
}

.hero_text {
  h1 {
    font-weight: 800;
    font-size: rem(26px);
    line-height: rem(40px);
    text-transform: uppercase;
    @media (min-width: 768px) {
      font-size: rem(36px);
      line-height: rem(50px);
    }
  }
  h4 {
    color: $text-secondary-color;
    @media (max-width: 767px) {
      font-size: rem(14px);
    }
  }
}
