@import "../variables";
@import "../rem";

.header {
  display: inline-block;
  width: 100%;
  background: $header-bg-color;
  position: relative;
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  height: rem(600px);
  overflow: hidden;
  @media (max-width: 619px) {
    height: rem(400px);
  }
}

.pattern_one {
  position: absolute;
  top: -30%;
  left: -20%;
  width: 50%;

  @media (max-width: 439px) {
    top: -10%;
  }
}

.pattern_two {
  position: absolute;
  bottom: -8%;
  right: -15%;
  width: 40%;
  @media (max-width: 439px) {
    right: -8%;
  }
}

.hero_container {
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.hero {
  padding: rem(10px 80px);
  margin: 0 auto;
  @media (max-width: 459px) {
    padding: rem(10px 30px);
  }
}

.hero_text {
  h1 {
    color: #000;
    font-weight: 800;
    font-size: rem(70px);
    line-height: rem(65px);
    font-family: "Open Sans", sans-serif;
    text-transform: uppercase;
    max-width: rem(308px);
    @media (max-width: 539px) {
      font-size: rem(59px);
      line-height: rem(50px);
      max-width: rem(260px);
    }
  }
}
