$link-color: #494da2;
$primary-color: #160b38;
$secondary-color: #3666af;
$menu-color: #161e5b;
$header-bg-color: #ece8e4;
$light-blue: #bddcff;
$text-primary-color: #424c5c;
$text-secondary-color: #616161;
$content-width: 1140px;
